{% for title, poster_path, overview, release_date, genres in movies %}
    <div class="movie-item" onclick="window.location.href='/movie/{{ title }}'">
        <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="{{ title }}" class="movie-poster">
        <div class="movie-info">
            <p class="movie-title">{{ title }} ({{ release_date }})</p>
            <p class="movie-genres">{{ genres }}</p>
            <p class="movie-overview">{{ overview }}</p>
        </div>
    </div>
{% endfor %}
